body{
    text-align: center; 
}

#banner{
    width: 80%;
    border-radius: 25px;
}

.principal{
    background: #999999;
    padding: 15px;
    border-radius: 10px;
}

.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado {
    text-align: center;
    margin-top: 10px;
}

p {
    text-align: center; 
}

#missao {
    font-size: 20px;
}

em strong{
    color: rgb(161, 42, 26);
}

.beneficios{
    background: #ffffff;
    padding: 20px;
}


ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 25%;
    background-color: #999999;
    border-radius: 10px;
}

.itens{
    font-style: italic;
    text-align: left;

}

.imagembeneficios{
    width: 50%;
    border-radius: 25px;
}